fastapi==0.111.0
uvicorn[standard]==0.30.1

pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
xgboost==2.0.3
joblib==1.4.2

torch==2.2.2
torchvision==0.17.2
torchxrayvision==1.2.0

opencv-python==4.9.0.80
pillow==10.3.0

pymupdf==1.24.4

python-multipart==0.0.9
pydantic==2.7.1